# Node.js dependencies
node_modules/
npm-debug.log*

# Environment variables
.env
.env.test

# Build files
dist/
build/

# IDEs and editors
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm/